/* Created by Lukas-Batema (Lukas Batema) / Recreation By MTGSquad (Mahir Molai / mSquared) */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700;900&display=swap');

/* general styling (start) */

* {
  font-family: 'Source Code Pro', monospace;
  transition: all 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: white;
}

body {
  background-color: #1e1e1e;
}
/* general styling (end) */

/* header layout (start) */
.header {
  height: 410px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 56px;
}
/* header layout (end) */

/* footer layout (start) */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0d10;
  padding-right: 100px;
  height: 300px;
}

.footer > a > img {
  height: 250px;;
}

.footer links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  flex-direction: column;
  gap: 5px;
}
/* footer layout (end) */

.mid {
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: row;
  background-color: #131313;
  align-items: center;
  justify-content: center;
}

.mid > .posts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.mid > .posts > h3 {
  font-size: 32px;
}

.mid > .posts > a {
  font-size: 20px;
}


/* links style override (start) */
p a {
  text-decoration: none;
  color: lightslategray;
}
/* links style override (end) */

/* top horizontal navigation bar layout (start) */
.topnav {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 25px;
  background-color: #0c0d10;
  box-shadow: 0 7px 10px 0 rgba(0,0,0,0.15);
}

.topnav img {
  height: 100px;
}

.topnav .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
}

.topnav .links button {
  background: darkblue;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  height: 50px;
  box-shadow: 0 7px 10px 0 rgba(0,0,0,0.15);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.topnav .links button:hover {
  background: blue;
}

.topnav .links a {
  font-size: 20px;
  text-decoration: none;
}

.topnav a:hover {
  color: gray;
}
/* top horizontal navigation bar layout (end) */

/* form styling (start) */
.form.login,
.form.signup {
  background-color: rgb(69, 69, 69);
  color: rgb(200, 200, 200);
}

.fieldset.login,
.fieldset.signup {
  border-style: none;
}

.fieldset.legend.login,
.fieldset.legend.signup {
  color: rgb(200, 200, 200);
}

.button.login,
.button.signup {
  background-color: rgb(34, 34, 34);
  color: rgb(115, 116, 115);
}
/* form styling (end) */
